<%= form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :first_aid %>
    <%= f.check_box :first_aid %>
  </div>

  <div class="field">
    <%= f.label :wilderness_first_aid %>
    <%= f.check_box :wilderness_first_aid %>
  </div>

  <div class="field">
    <%= f.label :previous_trips %>
    <%= f.check_box :previous_trips %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :training %>
    <%= f.text_area :training %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :favourite_park %>
    <%= f.text_field :favourite_park %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
