  <!-- header
   ================================================== -->
   <header>

   <!--  <div class="header-logo">
        <a href="index.html">Camp Together</a>
     </div> -->

    <a id="header-menu-trigger" href="#0">
      <span class="header-menu-text">Menu</span>
        <span class="header-menu-icon"></span>
    </a>

    <nav id="menu-nav-wrap">

      <a href="#0" class="close-button" title="close"><span>Close</span></a>

      <h3>Camp Together</h3>

      <ul class="nav-list">
        <li class="current"><a class="smoothscroll" href="#home" title="">Home</a></li>
        <li><a class="smoothscroll" href="#about" title="">Intro</a></li>
        <li><a class="smoothscroll" href="#services" title="">About</a></li>
        <li><a class="smoothscroll" href="#portfolio" title="">Gallery</a></li>
        <li><a class="smoothscroll" href="#coming-soon" title="">Coming soon</a></li>
        <li><a class="smoothscroll" href="#contact" title="">Contact</a></li>
      </ul>

      <ul class="header-social-list">
           <li>
            <a href="https://www.facebook.com/followthewhitesquirrel/"><i class="fa fa-facebook-square"></i></a>
           </li>
           <li>
            <a href="https://www.instagram.com/followthewhitesquirrel/"><i class="fa fa-instagram"></i></a>
           </li>
            <li>
              <a href="https://www.followthewhitesquirrel.ca/"><i class="fa fa-paw"></i></a>
            </li>
        </ul>

    </nav>  <!-- end #menu-nav-wrap -->

  </header> <!-- end header -->


   <!-- home
   ================================================== -->
   <section id="home">

    <div class="overlay"></div>

    <div class="home-content-table">
       <div class="home-content-tablecell">
        <div class="row">
          <div class="col-twelve">

            <h3 class="animate-intro">Camp Together</h3>
            <h1 class="animate-intro">
              Your next adventure<br>
              starts here
            </h1>

            <div class="more animate-intro">
              <a class="smoothscroll button stroke" href="#about">
                Learn More
              </a>
            </div>

          </div> <!-- end col-twelve -->
        </div> <!-- end row -->
       </div> <!-- end home-content-tablecell -->
    </div> <!-- end home-content-table -->

    <ul class="home-social-list">
        <li class="animate-intro">
            <a href="https://www.facebook.com/followthewhitesquirrel/"><i class="fa fa-facebook-square"></i></a>
        </li>
        <li class="animate-intro">
            <a href="https://www.instagram.com/followthewhitesquirrel/"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="animate-intro">
            <a href="https://www.followthewhitesquirrel.ca/"><i class="fa fa-paw"></i></a>
        </li>
     </ul> <!-- end home-social-list -->

    <div class="scrolldown">
      <a href="#about" class="scroll-icon smoothscroll">
        Scroll Down
        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
      </a>
    </div>

   </section> <!-- end home -->


   <!-- about
   ================================================== -->
   <section id="about">

    <div class="row about-wrap">
      <div class="col-full">

        <div class="about-profile-bg"></div>

        <div class="intro">
          <h3 class="animate-this">hi there!</h3>
          <p class="lead animate-this"><span>Camp Together</span> is a community where you can find new friends to go camping with in Ontario. This website provides the tools to find a group and plan your next great adventure. </p>
        </div>

      </div> <!-- end col-full  -->
    </div> <!-- end about-wrap  -->

   </section> <!-- end about -->


   <!-- about
   ================================================== -->
   <section id="services">

    <div class="overlay"></div>
    <div class="gradient-overlay"></div>

    <div class="row narrow section-intro with-bottom-sep animate-this">
      <div class="col-full">

          <h3>about</h3>
           <h1>Less work, more play</h1>

           <p class="lead">Camping is an amazing way to immerse yourself in nature and truly connect with the people around you. However it's not always easy to get a group together, plan the trip, and get all the necessary equipment. We want to make it easier for anyone (even beginners) to find the right people and organize everything, down to the last spork. </p>

           <p class="lead">So we're making a website to do just that. Here's what we have in mind:</p>

       </div> <!-- end col-full -->
    </div> <!-- end row -->

    <div class="row services-content">

      <div class="services-list block-1-2 block-tab-full group">

          <div class="bgrid service-item animate-this">

            <span class="icon"><i class="icon-users"></i></span>

              <div class="service-content">
                <h3 class="h05">Find your people</h3>
                <p>The first step is getting a group together. On Camp Together, trip leaders propose a trip with their preferred dates and a description of their itinerary. Then other campers browse the available trips and request to join a group. Users can also connect their social profiles to get a better idea of who's in the group.
              </p>
            </div>

        </div> <!-- end bgrid -->

        <div class="bgrid service-item animate-this">

          <span class="icon"><i class="icon-map"></i></span>

              <div class="service-content">
                <h3 class="h05">Suggested itineraries</h3>

                <p>Backcountry camping requires a well-planned route, and a lot of the planning knowledge just comes from experience. Experienced campers can save their itineriaries with notes about the travel times, things to look out for, or even favourite campsites. Those itineraries serve as a valuable guide for anyone planning a trip in that area.
              </p>
              </div>

         </div> <!-- end bgrid -->

         <div class="bgrid service-item animate-this">

          <span class="icon"><i class="icon-list"></i></span>

              <div class="service-content">
                <h3 class="h05">Packing lists</h3>
                <p>
                  We know that spending three days getting eaten by black flies because *someone* forgot the bug nets is no fun. We provide a set of configurable packing lists to make sure you've got all the necessities for your group size and type of trip. Members of the group can mark the items that they can bring. Trip leaders can customize the lists or make their own, and make those lists public for others to use.
                </p>
              </div>

         </div> <!-- end bgrid -->

        <div class="bgrid service-item animate-this">

          <span class="icon"><i class="icon-leaf"></i></span>

              <div class="service-content">
                <h3 class="h05">Educational resources</h3>

                <p>There is so much to learn! Local ecology, survival skills, wild edibles, animal calls, paddling techniques, safety practices, camping games... we are building a library of shareable resources for all levels of campers.
              </p>
              </div>

        </div> <!-- end bgrid -->

        </div> <!-- end services-list -->

    </div> <!-- end services-content -->

   </section> <!-- end services -->


   <!-- portfolio
   ================================================== -->
   <section id="portfolio">

    <div class="intro-wrap">

      <div class="row narrow section-intro with-bottom-sep animate-this">
        <div class="col-twelve">
          <h3>Gallery</h3>
          <h1>See our past trips</h1>

          <p class="lead">So who's behind this project? We're Sharon and Dani, co-founders of Camp Together. We also run a small nature guide company called Follow the White Squirrel where we take groups out for backcountry camping and hiking trips. We've seen the magic that happens when people from different backgrounds come together and bond around the campfire. We want to make this experience more accessible for everyone.</p>
        </div>
      </div> <!-- end row section-intro -->

    </div> <!-- end intro-wrap -->

    <div class="row portfolio-content">
      <div class="col-twelve">
        <div id="folio-wrap" class="bricks-wrapper">

          <div class="brick folio-item">
                 <div class="item-wrap animate-this" data-src="<%= asset_path('portfolio/first-trip-group.jpg') %>" data-sub-html="#01" >
                    <a href="#" class="overlay">
                      <%= image_tag('portfolio/first-trip-group.jpg', alt: 'Setting out') %>
                       <div class="item-text">
                     <h3 class="folio-title">Setting out</h3>
                  </div>
                    </a>
                    <a href="https://www.instagram.com/followthewhitesquirrel/" class='details-link' title="details">
                      <i class="icon-link"></i>
                    </a>
                 </div> <!-- end item-wrap -->

            <div id="01" class='hide'>
              <h4>Setting out</h4>
              <p>See more pics on our <a href="https://www.instagram.com/followthewhitesquirrel/">Instagram</a></p>
            </div>
          </div> <!-- end folio-item -->

          <div class="brick folio-item">
                 <div class="item-wrap animate-this" data-src="<%= asset_path('portfolio/jumping.jpg') %>" data-sub-html="#02" >
                    <a href="#" class="overlay">
                      <%= image_tag('portfolio/jumping.jpg', alt: 'Morning warm-up') %>
                       <div class="item-text">
                     <h3 class="folio-title">Morning warm-up</h3>
                  </div>
                    </a>
                    <a href="https://www.instagram.com/followthewhitesquirrel/" class='details-link' title="details">
                      <i class="icon-link"></i>
                    </a>
                 </div> <!-- end item-wrap -->

            <div id="02" class='hide'>
              <h4>Morning warm-up</h4>
              <p>See more pics on our <a href="https://www.instagram.com/followthewhitesquirrel/">Instagram</a></p>
            </div>
          </div> <!-- end folio-item -->

          <div class="brick folio-item">
                 <div class="item-wrap animate-this" data-src="<%= asset_path('portfolio/albion15.jpg') %>" data-sub-html="#03" >
                    <a href="#" class="overlay">
                      <%= image_tag('portfolio/albion15.jpg', alt: 'Dani at Albion Falls') %>
                     <div class="item-text">
                       <h3 class="folio-title">Dani at Albion Falls</h3>
                    </div>
                    </a>
                    <a href="https://www.instagram.com/followthewhitesquirrel/" class='details-link' title="details">
                      <i class="icon-link"></i>
                    </a>
                 </div> <!-- end item-wrap -->

            <div id="03" class='hide'>
              <h4>Dani at Albion Falls</h4>
              <p>See more pics on our <a href="https://www.instagram.com/followthewhitesquirrel/">Instagram</a></p>
            </div>
          </div> <!-- end folio-item -->

              <div class="brick folio-item">
                 <div class="item-wrap animate-this" data-src="<%= asset_path('portfolio/ukelele.jpg') %>" data-sub-html="#04">
                    <a href="#" class="overlay">
                      <%= image_tag('portfolio/ukelele.jpg', alt: 'Around the campfire') %>
                       <div class="item-text">
                     <h3 class="folio-title">Around the campfire</h3>
                  </div>
                    </a>
                    <a href="https://www.instagram.com/followthewhitesquirrel/" class='details-link' title="details">
                      <i class="icon-link"></i>
                    </a>
                 </div> <!-- end item-wrap -->

                 <div id="04" class='hide'>
              <h4>Around the campfire</h4>
              <p>See more pics on our <a href="https://www.instagram.com/followthewhitesquirrel/">Instagram</a></p>
            </div>
              </div> <!-- end folio-item -->

              <div class="brick folio-item">
                 <div class="item-wrap animate-this" data-src="<%= asset_path('portfolio/torrance-barrens.jpg') %>" data-sub-html="#05" >
                    <a href="#" class="overlay">
                      <%= image_tag('portfolio/torrance-barrens.jpg', alt: 'Torrance Barrens') %>
                       <div class="item-text">
                     <h3 class="folio-title">Hiking at Torrance Barrens</h3>
                  </div>
                    </a>
                    <a href="https://www.instagram.com/followthewhitesquirrel/" class='details-link' title="details">
                      <i class="icon-link"></i>
                    </a>
                 </div> <!-- end item-wrap -->

                 <div id="05" class='hide'>
              <h4>Hiking at Torrance Barrens</h4>
              <p>See more pics on our <a href="https://www.instagram.com/followthewhitesquirrel/">Instagram</a></p>
            </div>
              </div> <!-- end folio-item -->

          <div class="brick folio-item">
                 <div class="item-wrap animate-this"  data-src="<%= asset_path('portfolio/tree-playground.jpg') %>"  data-sub-html="#06" >
                    <a href="#" class="overlay">
                      <%= image_tag('portfolio/tree-playground.jpg', alt: "Tree playground") %>
                       <div class="item-text">
                     <h3 class="folio-title">Our tree playground</h3>
                  </div>
                    </a>
                    <a href="https://www.instagram.com/followthewhitesquirrel/" class='details-link' title="details">
                      <i class="icon-link"></i>
                    </a>
                 </div> <!-- end item-wrap -->

                 <div id="06" class='hide'>
              <h4>Our tree playground</h4>
              <p>See more pics on our <a href="https://www.instagram.com/followthewhitesquirrel/">Instagram</a></p>
            </div>
              </div> <!-- end folio-item -->

          <div class="brick folio-item">
                 <div class="item-wrap animate-this"  data-src="<%= asset_path('portfolio/portaging.jpg') %>"  data-sub-html="#07" >
                    <a href="#" class="overlay">
                      <%= image_tag('portfolio/portaging.jpg', alt: "Portaging") %>
                       <div class="item-text">
                     <h3 class="folio-title">Portaging</h3>
                  </div>
                    </a>
                    <a href="https://www.instagram.com/followthewhitesquirrel/" class='details-link' title="details">
                      <i class="icon-link"></i>
                    </a>
                 </div> <!-- end item-wrap -->

                 <div id="07" class='hide'>
              <h4>Portaging</h4>
              <p>See more pics on our <a href="https://www.instagram.com/followthewhitesquirrel/">Instagram</a></p>
            </div>
              </div> <!-- end folio-item -->

          <div class="brick folio-item">
                 <div class="item-wrap animate-this"  data-src="<%= asset_path('portfolio/dani-fire.jpg') %>"  data-sub-html="#08">
                    <a href="#" class="overlay">
                      <%= image_tag('portfolio/dani-fire.jpg', alt: "Making the fire") %>
                       <div class="item-text">
                     <h3 class="folio-title">Getting the fire going</h3>
                  </div>
                    </a>
                    <a href="https://www.instagram.com/followthewhitesquirrel/" class='details-link' title="details">
                      <i class="icon-link"></i>
                    </a>
                 </div> <!-- end item-wrap -->

                 <div id="08" class='hide'>
              <h4>Getting the fire going</h4>
              <p>See more pics on our <a href="https://www.instagram.com/followthewhitesquirrel/">Instagram</a></p>
            </div>
          </div> <!-- end folio-item -->

          <div class="brick folio-item">
                 <div class="item-wrap animate-this"  data-src="<%= asset_path('portfolio/albion16.jpg') %>"  data-sub-html="#09">
                    <a href="#" class="overlay">
                      <%= image_tag('portfolio/albion16.jpg', alt: "Our leader, Captain Bowie") %>
                       <div class="item-text">
                     <h3 class="folio-title">Our leader, Captain Bowie</h3>
                  </div>
                    </a>
                    <a href="https://www.instagram.com/followthewhitesquirrel/" class='details-link' title="details">
                      <i class="icon-link"></i>
                    </a>
                 </div> <!-- end item-wrap -->

                 <div id="09" class='hide'>
              <h4>Our leader, Captain Bowie</h4>
              <p>See more pics on our <a href="https://www.instagram.com/followthewhitesquirrel/">Instagram</a></p>
            </div>
          </div> <!-- end folio-item -->

          <div class="brick folio-item">
                 <div class="item-wrap animate-this"  data-src="<%= asset_path('portfolio/camping-yoga.jpg') %>"  data-sub-html="#10">
                    <a href="#" class="overlay">
                      <%= image_tag('portfolio/camping-yoga.jpg', alt: "Impromptu yoga class in the forest") %>
                       <div class="item-text">
                     <h3 class="folio-title">Impromptu yoga class in the forest</h3>
                  </div>
                    </a>
                    <a href="https://www.instagram.com/followthewhitesquirrel/" class='details-link' title="details">
                      <i class="icon-link"></i>
                    </a>
                 </div> <!-- end item-wrap -->

                 <div id="10" class='hide'>
              <h4>Impromptu yoga class in the forest</h4>
              <p>See more pics on our <a href="https://www.instagram.com/followthewhitesquirrel/">Instagram</a></p>
            </div>
          </div> <!-- end folio-item -->

          <div class="brick folio-item">
                 <div class="item-wrap animate-this"  data-src="<%= asset_path('portfolio/campfire-cooking.jpg') %>"  data-sub-html="#11">
                    <a href="#" class="overlay">
                      <%= image_tag('portfolio/campfire-cooking.jpg', alt: "Cooking over the fire") %>
                       <div class="item-text">
                     <h3 class="folio-title">Cooking over the fire</h3>
                  </div>
                    </a>
                    <a href="https://www.instagram.com/followthewhitesquirrel/" class='details-link' title="details">
                      <i class="icon-link"></i>
                    </a>
                 </div> <!-- end item-wrap -->

                 <div id="11" class='hide'>
              <h4>Cooking over the fire</h4>
              <p>See more pics on our <a href="https://www.instagram.com/followthewhitesquirrel/">Instagram</a></p>
            </div>
          </div> <!-- end folio-item -->

        </div> <!-- end folio-wrap -->
      </div> <!-- end twelve -->
    </div> <!-- end portfolio-content -->

   </section>  <!-- end portfolio -->

   <!-- about
   ================================================== -->
   <section id="coming-soon">

    <div class="row about-wrap">
      <div class="col-full">

        <div class="about-profile-bg"></div>

        <div class="intro">
          <h3 class="animate-this">coming soon</h3>
          <p class="lead animate-this"><span>Camp Together</span> is a work in progress. We plan to launch in early 2018, in time for the summer camping season. Sign up below to get an invitation when it's live! </p>

        <div class="col-twelve tab-full">
          <div id="mc_embed_signup">
            <form action="https://github.us17.list-manage.com/subscribe/post?u=71190b40c4df1a7ce04cc8063&amp;id=7440277a93" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll" class="email-input">
                <div class="mc-field-group">
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email address">
                </div>

                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_71190b40c4df1a7ce04cc8063_7440277a93" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
              <label for="mc-email" class="subscribe-message"></label>
            </form>
          </div>
        </div>

        </div>

      </div> <!-- end col-full  -->
    </div> <!-- end about-wrap  -->

   </section> <!-- end about -->




  <!-- footer
   ================================================== -->
  <footer>

    <div class="footer-bottom">

        <div class="row">

          <div class="col-twelve">
            <div class="copyright">
              <span>© Camp Together 2017.</span>
             </div>
          </div>

        </div>

      </div> <!-- end footer-bottom -->

      <div id="go-top">
       <a class="smoothscroll" title="Back to Top" href="#home">
        <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
       </a>
    </div>
   </footer>

   <div id="preloader">
      <div id="loader"></div>
   </div>
